aclocal.m4
autom4te.cache
config.h
config.h.in
config.log
config.status
configure
debian/Makefile
debian/Makefile.in
.deps
Makefile
Makefile.in
*.o
s3backer
s3backer.spec
scripts
stamp-h1
gitrev.c
tester
