Source: s3backer
Section: net
Priority: extra
Maintainer: Peter Petrov <onestone@gmail.com>
Build-Depends: cdbs, debhelper, autotools-dev, libfuse-dev, libcurl4-openssl-dev | libcurl-dev, libssl-dev, zlib1g-dev, libexpat1-dev, pkg-config
Standards-Version: 3.8.0
Homepage: https://github.com/archiecobbs/s3backer

Package: s3backer
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: FUSE-based single file backing store via Amazon S3
 s3backer is a filesystem that contains a single file backed by the
 Amazon Simple Storage Service (Amazon S3). As a filesystem, it is
 quite small and simple: it provides a single normal file having a
 fixed size. The file is divided up into blocks, and the content of
 each block is stored in a unique Amazon S3 object. In other words,
 what s3backer provides is really more like an S3-backed virtual hard
 disk device, rather than a filesystem.

